<mat-toolbar color="primary" class="navbar">
  <span class="logo" routerLink="/dashboard">Internal Mobility Platform</span>
  
  <span class="spacer"></span>
  
  <div class="user-section" *ngIf="currentUser">
    <button mat-icon-button 
            routerLink="/notifications" 
            [matBadge]="unreadNotifications" 
            matBadgeColor="accent"
            [matBadgeHidden]="unreadNotifications === 0"
            matTooltip="Notifications">
      <mat-icon>notifications</mat-icon>
    </button>
    
    <span class="user-info">{{ currentUser.name }} ({{ currentUser.role }})</span>
    
    <button mat-icon-button (click)="logout()" matTooltip="Logout">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
